html, body, input, textarea, select, button {
    font-family: 'Roboto';
}
button {
    background-color: aqua;
}

html, body {
    font-size: 10pt;
    margin: 0px;
}
div.main {
    display: inline-block;
}
div.class1 {
    color: #a12020;
    font-size: 12pt;
}
div.class2 {
    color: #393f05;
    font-size: 14pt;
}
div.class3 {
    color: #14ac00;
    font-size: 17pt;
}
div.class4 {
    color: #4220a1;
    font-size: 14pt;
}
text.title{
    font-size: 60px;
}
